# Local development
EXPO_PUBLIC_API_URL=http://192.168.1.8:4000/api/v1
EXPO_PUBLIC_API_DEBUG=true

# Production (VPS)
# EXPO_PUBLIC_API_URL=https://api.omansale.om/api/v1
# EXPO_PUBLIC_API_DEBUG=false
